.centerPadding {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
