.centerPadding {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexStart {
    display: flex;
    justify-content: flex-start;
}

.flexEnd {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}