body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* app-theme */
#app-green {
  min-height: 100vh;
  max-width: 100%;
  margin: 0;
  background-color: #F0F4F8;
  padding: 25px 25px 50px 25px;
}

#app-blue {
  min-height: 100vh;
  max-width: 100%;
  margin: 0;
  background-color: #E4EFF5;
  padding: 25px 25px 50px 25px;
}

#app-yellow {
  min-height: 100vh;
  max-width: 100%;
  margin: 0;
  background-color: #FFF8E7;
  padding: 25px 25px 50px 25px;
}

#app-pink {
  min-height: 100vh;
  max-width: 100%;
  margin: 0;
  background-color: #FFECEC;
  padding: 25px 25px 50px 25px;
}

#app-brown {
  min-height: 100vh;
  max-width: 100%;
  margin: 0;
  background-color: #EDDCD4;
  padding: 25px 25px 50px 25px;
}